
<!DOCTYPE html>

<html lang="en">
    <!-- CSS only -->

<head>
    <meta http-equiv='Content-Type', content='text/html; charset=UTF-8'>
    <meta name="viewport" content="width=device-width">
    <title>Update Ticket</title>
    <style>
      body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
    </style>
</head>
<body>
  
<h1>Daily Ticket Update</h1>
    
<% ticketData.forEach(function(ticket){ %>
<br>

<table>
  
  <thead>
    <tr>
      <% ticket.heading.forEach(function(head){%>
        <th scope="col"><%= head %></th>
    <% })%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% ticket.body.forEach(function(body){%>
        <td ><%= body %></td>
    <% })%>
    </tr>
    <tr>
      <% ticket.heading2.forEach(function(body){%>
        <th scope="col" ><%= body%></th>
    <% })%>
    </tr>
    <tr>
      <% ticket.body2.forEach(function(body){%>
        <td ><%= body%></td>
    <% })%>
    </tr>
   
  </tbody>
</table>
<% })%>
</body>
</html>