<!DOCTYPE html>

<html lang="en">
  <!-- CSS only -->

  <head>
    <meta http-equiv="Content-Type" , content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Update Ticket</title>
    <style>
      body {
        font-family: "Open Sans", sans-serif;
        line-height: 1.25;
      }

      table {
        border: 2px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }

      table caption {
        font-size: 1.5em;
        margin: 0.5em 0 0.75em;
      }

      table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: 0.35em;
      }

      table th,
      table td {
        padding: 0.625em;
        text-align: center;
      }

      table th {
        color: #88b04b;
        font-size: 0.85em;
        font-weight: bold;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      @media screen and (max-width: 600px) {
        table {
          color: black;
          border: 0;
        }

        table caption {
          font-size: 1.3em;
        }

        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: 0.625em;
        }

        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: 0.8em;
          text-align: right;
        }

        table td::before {
          /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }

        table td:last-child {
          border-bottom: 0;
        }
      }
    </style>
    <script>
      function copytable(el) {
        var urlField = document.getElementById(el);
        var range = document.createRange();
        range.selectNode(urlField);
        window.getSelection().addRange(range);
        document.execCommand("copy");
      }


  


    </script>
  </head>
  <body>
    <h1>Daily Ticket Update</h1>
    
    <!-- <input
      type="button"
      value="Copy to Clipboard"
      onClick="copytable('stats')"
    />
    <a
      href="mailto:info@w3docs.com?cc=secondemail@example.com, anotheremail@example.com, &bcc=lastemail@example.com&subject=Mail from our Website&body=stats"
      >Send Email</a
    > -->

    

    <!-- <input
      type="button"
      value="Email"
      onClick="sendEmailViaEmailApp"
    /> -->

   
    
  <% ticketData.forEach(function(ticket){ %>
      <br />
      <hr />

      <table>
        <thead>
          <tr>
            <% ticket.heading.forEach(function(head){%>
            <th scope="col"><%= head %></th>
            <% })%>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% ticket.body.forEach(function(body){%>
            <td><%= body %></td>
            <% })%>
          </tr>
          <tr>
            <% ticket.heading2.forEach(function(body){%>
            <th scope="col"><%= body%></th>
            <% })%>
          </tr>
          <tr>
            <% ticket.body2.forEach(function(body){%>
            <td><%= body%></td>
            <% })%>
          </tr>
        </tbody>
      </table>
      <% })%>
  </body>
</html>
